apiVersion: v1
kind: Pod
metadata:
  name: rbac-test-pod
  namespace: lab05-rbac
  labels:
    app: rbac-test
spec:
  serviceAccountName: cluster-viewer
  containers:
  - name: test
    image: alpine:3.18
    command: ["sleep", "3600"]
    resources:
      requests:
        memory: "32Mi"
        cpu: "50m"
      limits:
        memory: "64Mi"
        cpu: "100m"
  restartPolicy: Always
