apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-app
  namespace: lab01-basic-deployment
  labels:
    app: web-app
    environment: lab
    lab: "01"
spec:
  replicas: 3
  selector:
    matchLabels:
      app: web-app
  template:
    metadata:
      labels:
        app: web-app
        version: v1
    spec:
      containers:
      - name: nginx
        image: nginx:1.25-alpine
        ports:
        - containerPort: 80
          name: http
          protocol: TCP
        env:
        - name: NGINX_PORT
          value: "80"
