apiVersion: v1
kind: Pod
metadata:
  name: baseline-pod
  namespace: lab06-baseline
spec:
  containers:
  - name: baseline-container
    image: nginx:alpine
    ports:
    - containerPort: 80
    securityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
        add:
          - NET_BIND_SERVICE
    resources:
      requests:
        memory: "64Mi"
        cpu: "100m"
      limits:
        memory: "128Mi"
        cpu: "200m"
